ML.Utils.Locaid/Service References/LocationServiceReference/LocationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://impl.webservice.asl.locaid.net/LocationService" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://webservice.asl.locaid.net/LocationService" xmlns="http://schemas.xmlsoap.org/wsdl/" name="LocationService" targetNamespace="http://impl.webservice.asl.locaid.net/LocationService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://impl.webservice.asl.locaid.net/LocationService">
      <xsd:import schemaLocation="https://asl.loc-aid.com:443/ASLWS/LocationService?xsd=2" namespace="http://webservice.asl.locaid.net/LocationService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getLocationsDBRequest">
    <wsdl:part name="request" element="ns:LocationDBRequest" />
  </wsdl:message>
  <wsdl:message name="getLocationsDBResponse">
    <wsdl:part name="response" element="ns:LocationDBResponse" />
  </wsdl:message>
  <wsdl:message name="getLocationPhoneRequest">
    <wsdl:part name="request" element="ns:LocationPhoneRequest" />
  </wsdl:message>
  <wsdl:message name="getLocationPhoneResponse">
    <wsdl:part name="response" element="ns:LocationPhoneResponse" />
  </wsdl:message>
  <wsdl:portType name="LocationServicePortType">
    <wsdl:operation name="getLocationsDB">
      <wsdl:input name="input1" message="tns:getLocationsDBRequest" />
      <wsdl:output name="output1" message="tns:getLocationsDBResponse" />
    </wsdl:operation>
    <wsdl:operation name="getLocationPhone">
      <wsdl:input name="input1" message="tns:getLocationPhoneRequest" />
      <wsdl:output name="output1" message="tns:getLocationPhoneResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LocationServiceBinding" type="tns:LocationServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getLocationsDB">
      <soap:operation soapAction="" />
      <wsdl:input name="input1">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="output1">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLocationPhone">
      <soap:operation soapAction="" />
      <wsdl:input name="input1">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="output1">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LocationService">
    <wsdl:port name="LocationServicePort" binding="tns:LocationServiceBinding">
      <soap:address location="https://asl.loc-aid.com:443/ASLWS/LocationService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>